.container{
  display:flex;
}
.item{  height: 100px;
  width: 100px;
border-style:solid}
.middle{ flex-grow: 1;
  border-style:solid
}

.item + .item { 
  margin-left: 2%; 
  border-style:solid
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
